page-profile-edit {
    .label-pad{
        padding-left: 10px;
    }

    ion-card {
        border-top: 5px solid lightblue
    }

    .error-card {
        border-top: 5px solid red !important
    }

    .label-header {
        border-left: 2px solid lightblue;
    }

    .border-box {
        border: 1px inset;
    }
}
