page-comment-create {
    .label-pad {
        padding-left: 10px;
    }

    .text-area {
        border: solid 1px #cccccc;
        box-shadow: 0.5px 0.5px 0.5px 0.5px #cccccc inset;
    }

    .scroll-content { 
        padding-bottom: 0!important;
    }

}
