.navbutton {
    background: $toolbar-background;
    color: white;
    font-size: 1.7rem;
}

.center{
    text-align: center;
}

.custom-popover {
    ion-backdrop{
        opacity: 0.45;
        background-color: black;
    }
}