page-calendar {
    .calendar-day {
        border-radius: 6px;
        padding: 3px 5px;
    }

    .monthview-selected {
        background-color: #67b0e5 !important;
        color: white !important;
    }

    .monthview-current {
    }
}
