<ion-content padding (change)="content.scrollToBottom()">
    <ion-grid>
        <ion-row *ngFor="let msg of allChat" align-items-center> 
            <ion-col offset-4 col-8 *ngIf='msg.sender==auth.name' class='message right'>
                <p> {{msg.message}} </p>
                <p style='font-size:2px' align='right'> {{msg.timestamp | date:'dd/MM/yyyy &nbsp; HH:mm'}}</p>
            </ion-col>
            <ion-col col-8 *ngIf='msg.sender!=auth.name' class='message left'>
                <p> {{msg.message}} </p>
                <p style='font-size:2px' align='right'> {{msg.timestamp | date:'dd/MM/yyyy &nbsp; HH:mm'}}</p>
           </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<form [formGroup]="chatForm">

<ion-footer>
	<ion-grid>
		<ion-row align-items-center>
			<ion-col col-10>
				<ion-input type="text" placeholder="Type a message" name="message" formControlName='message' #msgInput></ion-input>
			</ion-col>
			<ion-col col-2>
                <button ion-button icon-only clear (click)="sendMessage()" [disabled]='!msgInput.value'>
    				<ion-icon name="paper-plane" style='font-size: 24px;'></ion-icon>
                </button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>

</form>